#shop-banner
{
    background: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../Image/Coffee-bean.jpg') no-repeat;
   
    background-size: cover ;
    height:40vh;
    color:white;    
}
#shop-view
{

    background-color: #f5f2eb;
}