.dot{
    border-bottom: dotted 3px #333333;
    width: 20%;
    position: relative;
    display: block;
    height: 20px;
    margin: 0 5px 0 5px;
}
.discription 
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;    
    font-size: small;
}
.cafename {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.text-orange {
    color:#bc9356;
}
#coffee-menu-home 
{
    width:60vw;
    
}
.card-block{
    padding-bottom: 10px;
    padding-top: 10px;
}
@media screen and (min-width:300px) and (max-width:800px) {
    .card-block{
        width: 100% !important;
        border-bottom: 1px solid #333333;
    }
    #coffee-menu-home 
    {
    width:80vw;
    
    }
}